absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp-retry==2.9.1
aiosignal==1.4.0
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.86.0
anyio==4.13.0
argon2-cffi==23.1.0
argon2-cffi-bindings==25.1.0
asyncpg==0.31.0
attrs==26.1.0
billiard==4.2.4
blinker==1.9.0
celery==5.6.3
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpickle==3.1.2
colorama==0.4.6
construct==2.10.70
construct-typing==0.7.0
contourpy==1.3.3
cycler==0.12.1
Deprecated==1.3.1
dill==0.4.1
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
email-validator==2.3.0
et_xmlfile==2.0.0
fastapi==0.135.2
filelock==3.25.2
Flask==3.1.3
fonttools==4.62.1
frozenlist==1.8.0
gemmi==0.7.5
greenlet==3.3.2
GridDataFormats==1.1.0
h11==0.16.0
hiredis==3.3.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
immutabledict==4.3.1
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.3
jsonalias==0.1.1
kiwisolver==1.5.0
kombu==5.6.2
limits==5.8.0
llvmlite==0.47.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mda-xdrlib==0.2.0
MDAnalysis==2.10.0
meeko==0.7.1
miniopy-async==1.23.5
mmtf-python==1.1.3
mrcfile==1.5.4
msgpack==1.1.2
multidict==6.7.1
multiprocess==0.70.19
networkx==3.6.1
numba==0.65.0
numpy==2.4.4
openbabel-wheel==3.1.1.23
openpyxl==3.1.5
ortools==9.15.6755
packaging==26.0
pandas==3.0.2
pillow==12.2.0
pluggy==1.6.0
prolif==2.1.0
prometheus_client==0.24.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.6
psutil==7.2.2
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
Pygments==2.20.0
reportlab==4.2.0
pyparsing==3.3.2
pytest==8.4.2
pytest-asyncio==0.26.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.22
pytz==2026.1.post1
PyYAML==6.0.3
rdkit==2026.3.1
redis==7.4.0
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
shap==0.51.0
six==1.17.0
slicer==0.0.8
slowapi==0.1.9
sniffio==1.3.1
solana==0.36.11
solders==0.27.1
SQLAlchemy==2.0.49
starlette==1.0.0
structlog==25.5.0
tenacity==9.1.4
threadpoolctl==3.6.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.42.0
vine==5.1.0
watchfiles==1.1.1
wcwidth==0.6.0
websockets==15.0.1
Werkzeug==3.1.7
wrapt==2.1.2
xgboost==3.2.0
yarl==1.23.0
minio==7.2.20
deep-translator==1.11.4
